
{{#each orders as |order|}}

<div id="order-id-{{order.id}}" class="order">
  <h4>ORDER # {{order.id}}
    <span class="total float-right">Total ${{order.total}}</span>
  </h4>
  <h4 id="order-header-{{order.id}}" class="order-header">Ordered on {{order.date}}</h4>
  <div class="order-items">
    {{> previousorderline-item line_item=order.line_item}}
  </div>
</div>

{{/each}}
