<div id="product-id-{{product._id}}" data-id="{{product.id}}" class="product box">
  <img id="product-img-{{product._id}}" class="product-img" src="{{product.img_url}}" alt="">
  <h5 id="product-name-{{product._id}}" class="product-name">{{product.name}}</h5>
  <p id="product-price-{{product._id}}" class="product-price">${{product.price}}</p>
</div>
