<div id="product-id-{{product._id}}" data-id="{{product.id}}" class="card product">
  <img id="product-img-{{product._id}}" class="product-img" src="{{product.img_url}}" alt="">
  <div class="info">
    <h1 id="product-name-{{product._id}}" class="product-name">{{product.name}}</h1>
    <p id="product-desc-{{product._id}}" class="product-desc">{{product.desc}}</p>
    <button type="button" class="bg-info addToCart">Add To Cart</button>
    <h4 id="product-price-{{product._id}}" class="product-price addToCart">${{product.price}}</h4>
  </div>
</div>
