<div id="product-id-{{product._id}}" data-id="{{product.id}}" class="product box">
  <img id="product-img-{{product._id}}" class="product-img" src="{{product.img_url}}" alt="">
  <h1 id="product-name-{{product._id}}" class="product-name">{{product.name}}</h1>
  <p id="product-desc-{{product._id}}" class="product-desc">{{product.desc}}</p>
  <p id="product-price-{{product._id}}" class="product-price">{{product.price}}</p>
  <button id="product-button" type="button">Add to cart</button>
</div>
